<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

  <listener>
    <listener-class>org.plista.kornakapi.web.servlets.BigBangServletContextListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>BatchSetPreferences</servlet-name>
    <servlet-class>org.plista.kornakapi.web.servlets.BatchSetPreferencesServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>SetPreference</servlet-name>
    <servlet-class>org.plista.kornakapi.web.servlets.SetPreferenceServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Train</servlet-name>
    <servlet-class>org.plista.kornakapi.web.servlets.TrainServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>Recommend</servlet-name>
    <servlet-class>org.plista.kornakapi.web.servlets.RecommendServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>AddCandidate</servlet-name>
    <servlet-class>org.plista.kornakapi.web.servlets.AddCandidateServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>DeleteCandidate</servlet-name>
    <servlet-class>org.plista.kornakapi.web.servlets.DeleteCandidateServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>BatchSetPreferences</servlet-name>
    <url-pattern>/batchSetPreferences</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>SetPreference</servlet-name>
    <url-pattern>/setPreference</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Train</servlet-name>
    <url-pattern>/train</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Recommend</servlet-name>
    <url-pattern>/recommend</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>AddCandidate</servlet-name>
    <url-pattern>/addCandidate</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>DeleteCandidate</servlet-name>
    <url-pattern>/deleteCandidate</url-pattern>
  </servlet-mapping>

</web-app>